:root {
  --theme-green: darkolivegreen;
  --theme-white: white;
  --theme-black: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  color: var(--theme-white);
}

/* body {
  background-color: darkolivegreen;
} */